networks:
  zeebe_network:
    driver: bridge

services:
  zeebe:
    container_name: zeebe
    image: camunda/zeebe:8.8.3
    environment:
    # allow running with low disk space
    - ZEEBE_BROKER_DATA_DISKUSAGECOMMANDWATERMARK=0.998
    - ZEEBE_BROKER_DATA_DISKUSAGEREPLICATIONWATERMARK=0.999
    - CAMUNDA_DATABASE_URL=http://elasticsearch:9200
    - "JAVA_TOOL_OPTIONS=-Xms512m -Xmx512m"
    - ZEEBE_BROKER_EXPORTERS_DEBUGLOG_CLASSNAME=io.camunda.zeebe.broker.exporter.debug.DebugLogExporter
    - ZEEBE_BROKER_EXPORTERS_DEBUGLOG_ARGS_LOGLEVEL=INFO
    - ZEEBE_BROKER_EXPORTERS_DEBUGLOG_ARGS_PRETTYPRINT=true
    ports:
      - "26500:26500"
      - "9600:9600"
      - "8088:8080"
    networks:
      - zeebe_network
    healthcheck:
      test: [ "CMD-SHELL", "timeout 10s bash -c ':> /dev/tcp/127.0.0.1/9600' || exit 1" ]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
    - zeebe:/usr/local/zeebe/data
  script-connector-runtime:
    container_name: script-connector-runtime
    image: ghcr.io/camunda-community-hub/script-connector/runtime:latest
    environment:
      - CAMUNDA_CLIENT_ZEEBE_GRPCADDRESS=http://zeebe:26500
      - management.endpoints.web.exposure.include=health
      - management.endpoint.health.probes.enabled=true
    depends_on:
      - zeebe
    networks:
      - zeebe_network
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health/readiness" ]
      interval: 30s
      timeout: 1s
      retries: 5
      start_period: 30s
  script-connector-bundled:
    container_name: script-connector-bundled
    image: camunda/connectors-bundle:8.8.2
    environment:
    - CAMUNDA_CLIENT_ZEEBE_GRPCADDRESS=http://zeebe:26500
    - CAMUNDA_CONNECTOR_POLLING_ENABLED=false
    - CAMUNDA_CONNECTOR_WEBHOOK_ENABLED=false
    - SPRING_MAIN_WEB-APPLICATION-TYPE=none
    - OPERATE_CLIENT_ENABLED=false
    - management.endpoints.web.exposure.include=health
    - management.endpoint.health.probes.enabled=true
    depends_on:
    - zeebe
    networks:
    - zeebe_network
    volumes:
    - ./../connector/target/script-connector-2.0.2-SNAPSHOT-shaded.jar:/opt/custom/script-connector.jar
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health/readiness" ]
      interval: 30s
      timeout: 1s
      retries: 5
      start_period: 30s
volumes:
  zeebe: