version: "2"

networks:
  zeebe_network:
    driver: bridge

services:
  zeebe:
    container_name: zeebe
    image: camunda/zeebe:8.5.7
    environment:
      - ZEEBE_LOG_LEVEL=debug
    ports:
      - "26500:26500"
      - "9600:9600"
    networks:
      - zeebe_network
  script-connector-runtime:
    container_name: script-connector-runtime
    image: ghcr.io/camunda-community-hub/script-connector/runtime:latest
    environment:
      - ZEEBE_CLIENT_BROKER_GATEWAY-ADDRESS=zeebe:26500
      - ZEEBE_CLIENT_SECURITY_PLAINTEXT=true
    depends_on:
      - zeebe
    networks:
      - zeebe_network
  script-connector-bundled:
    container_name: script-connector-bundled
    image: camunda/connectors-bundle:8.5.7
    environment:
    - ZEEBE_CLIENT_BROKER_GATEWAY-ADDRESS=zeebe:26500
    - ZEEBE_CLIENT_SECURITY_PLAINTEXT=true
    - CAMUNDA_CONNECTOR_POLLING_ENABLED=false
    - CAMUNDA_CONNECTOR_WEBHOOK_ENABLED=false
    - SPRING_MAIN_WEB-APPLICATION-TYPE=none
    - OPERATE_CLIENT_ENABLED=false
    depends_on:
    - zeebe
    networks:
    - zeebe_network
    volumes:
    - ./../connector/target/script-connector-1.2.1-SNAPSHOT-shaded.jar:/opt/custom/script-connector.jar

