name: CI
on: [ pull_request ]
jobs:
  Build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'maven'
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: mvn verify -PcheckFormat -Pbuild-image -B
    - uses: adambirds/docker-compose-action@v1.5.0
      name: start docker compose
      with:
        compose-file: "./docker/docker-compose.yml"
        test-command: "java -jar runtime/target/script-connector-runtime.jar test"
    - name: try to run connector runtime
      run: java -jar runtime/target/script-connector-runtime.jar test
      timeout-minutes: 1
    - name: Publish Unit Test Results
      id: publish
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: '**/target/surefire-reports/*.xml'
        comment_mode: off
